<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zitano.walter.photography">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name="com.zitano.walter.photography.Hair"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">
        <service android:name="com.zitano.walter.photography.services.MyFirebaseService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name="com.zitano.walter.photography.PrivacyPolicyActivity"  android:exported="true"/>
        <activity android:name="com.zitano.walter.photography.Traditional"  android:exported="true"/>
        <activity android:name="com.zitano.walter.photography.Baby_Bump"  android:exported="true"/>
        <activity android:name="com.zitano.walter.photography.Fashion_Photography"  android:exported="true"/>
        <activity android:name="com.zitano.walter.photography.Studio_Indoors"  android:exported="true"/>
        <activity android:name="com.zitano.walter.photography.Outdoor"  android:exported="true"/>
        <activity android:name="com.zitano.walter.photography.FeedbackActivity"  android:exported="true"/>
        <activity android:name="com.zitano.walter.photography.PostDetailsActivity"  android:exported="true"/>
        <activity
            android:name="com.zitano.walter.photography.Portraits"
            android:parentActivityName="com.zitano.walter.photography.MainActivity" />
        <activity android:name="com.zitano.walter.photography.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:pathPrefix="/hello"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>